.navbar-lewagon {
  justify-content: space-between;
  background: white;
  flex-grow: 0;
}

.navbar-lewagon .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    color: rgba(255, 255, 255, 1);
    }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-lewagon .nav-item {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}